.taskContainer {
    padding: 12px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #86efac;
    margin-bottom: 15px;
    cursor: pointer;
}
.taskTitle {
    flex: 1;
    font-size: .9rem;
    user-select: none;
}
.taskActions {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}
.edit {
    color: #3730a3;
    cursor: pointer;
}

.trash {
    color: #9d174d;
    cursor: pointer;
}

.completed .taskTitle > p {
    text-decoration: line-through;
}